<div id="result">
    <label for="comment">Quote @ViewBag.Character:</label><br>
    <textarea class="form-control" rows="5" id="comment" width="300px" cols="300">@ViewBag.Quote</textarea>

    <label for="comment">Yodafication:</label><br>
    <textarea class="form-control" rows="5" id="comment" width="300px" cols="300">@ViewBag.Message</textarea>
</div>
